/**
 * @brief AltoWithCSS3, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Pierre Van Glabeke
 * @copyright http://creativecommons.org/licenses/by-nc/2.0/fr/
 */

/* Structure */
#page {
	width: 924px;
}

#top {
	background: transparent url(../img/1024/top.png) no-repeat top center;
}
#top h1 {
  width:866px;
  left: 29px;
}

#banner {
	width: 866px;
}

.round0 { background : transparent url(../img/1024/round0.jpg) no-repeat top left; }

.round1 { background : transparent url(../img/1024/round1.jpg) no-repeat top left; }

.round2 { background : transparent url(../img/1024/round2.jpg) no-repeat top left; }

#wrapper {
	width: 924px;
}

#main {
	width: 694px;
}

#footer {
	background: transparent url(../img/1024/footer.png) no-repeat top center;
}

#comment-form textarea {
  width: 630px;
}