/*
# ***** BEGIN LICENSE BLOCK *****
#
# altowithCSS3
# Theme by Pierre Van Glabeke
# License: http://creativecommons.org/licenses/by-sa/3.0/fr/
#
# ***** END LICENSE BLOCK *****
*/
#nav {display:none;}

/* SimpleMenu */
#top {padding-bottom:11px;}
#navsm {
  display:block;
  clear: both;
  margin: 0 29px 45px;
  padding: 0;
}

#supranav {
  margin: 0;
  padding: 0;
  background:none;
}
#supranav li {
  display: block;
  height: 26px;
  text-transform: lowercase;
  font-size: 10pt;
  text-decoration: none;
	float: left;
	margin-right:10px;
	background-color:#9999CC;
	-webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
* html #navsm li { /* Filter for IE6 to prevent li stacking */
  float: left;
  text-decoration: none;
}
* html #navsm li a { /* Filter for IE6 to prevent li stacking */
  float: left;
  margin-left: 4px;
  text-decoration: none;
}
#supranav li a {
  display: block;
  margin-left: 9px;
  padding-right: 9px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#supranav li.active {
	background-color:#bfbfbf;
	-webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
#supranav li.active a {
}
#supranav li:hover {
  text-decoration: none;
	background-color:#bfbfbf;
	-webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
#supranav li a:hover {
}