/*
# ***** BEGIN LICENSE BLOCK *****
#
# AltoWithCSS3
# Theme by Pierre Van Glabeke
# License: http://creativecommons.org/licenses/by-nc/2.0/fr/
#
# ***** END LICENSE BLOCK *****
*/

/* Structure */
#page {
	background: transparent url(../../img/1024/page.png) repeat-y top left;
	width: 1024px;
}

#top {
	background: transparent url(../../img/1024/top.png) no-repeat top left;
}
#top h1 {width:860px;}

#banner {
	width: 866px;
}

.round0 { background : transparent url(../../img/1024/round0.jpg) no-repeat top left; }

.round1 { background : transparent url(../../img/1024/round1.jpg) no-repeat top left; }

.round2 { background : transparent url(../../img/1024/round2.jpg) no-repeat top left; }

#wrapper {
	width: 924px;
}

#main {
	width: 694px;
}

#footer {
	background: transparent url(../../img/1024/footer.png) repeat-y top left;
}

#comment-form textarea {
  width: 630px;
}